<table class="list-table" style="border:1px solid #d8dde2;padding-top:22px;padding-right:16px;padding-bottom:20px;padding-left:16px;width:100%;">
    <tr>
        <td class="price" style="padding-bottom:24px;">
            <span class="price-symbol" style="font-size:20px;line-height:40px;color:#8c94a5;vertical-align:top;">$</span>
            <span class="price-number" style="font-size:36px;line-height:49px;color:#30b179;">399</span>
        </td>
    </tr>
    <tr>
        <td style="font-family:'RobotoSlab', sans-serif;">
            <h4 style="margin:0;font-weight:400;font-size:24px;line-height:32px;color:#1d343c;">Technical Q&A</h4>
        </td>
    </tr>
    <tr>
        <td class="item-description" style="padding-bottom:28px;">
            <p style="margin:0;font-size:14px;line-height:22px;color:#8c94a5;">
                Our Technical Q&A pack is best suited for startups engaging in technical due diligence with investors.
            </p>
        </td>
    </tr>
    <tr>
        <td class="hr" style="background-color:#d8d8d8;height:1px;margin-top:30px;margin-bottom:30px;padding:0;"></td>
    </tr>
    <tr>
        <td class="list" style="padding-top: 18px; font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">Product</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">AI/ML Components</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">Competitive Advantage</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">Infrastructure</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">IT Security & Compliance</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">Team</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">12-Month Roadmap</span>
        </td>
    </tr>
    <tr>
        <td class="list" style="padding-bottom: 30px; font-weight:500;">
            <img crossorigin="anonymous" src="#{cidChecked}" alt="" style="margin-right: 10px; vertical-align: middle">
            <span style="font-size:14px;line-height:36px;">Testimonials</span>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#30b179">
            <a href="#{websiteUrl}" class="btn-small" style="color:#ffffff;background-color:transparent;text-decoration:none;display:block;font-size:16px;line-height:22px;padding-top:15px;padding-bottom:15px;">Get Pack</a>
        </td>
    </tr>
</table>